/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


*{
	font-family: 'Open Sans',
	Sans-serif;
}

.right-nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	text-align: right;
	display: inline-block;
	padding-right: 10%;
	padding-left: 10%;
	float: right;
}

.nav-logo {
	padding: 0.8rem;
	padding-left: 10%;
	left: 20%;
	}

nav > ul > li {
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline-block;
}

nav {
	background-color: white;
	padding: 10px;
	position: sticky;
	top: 0;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	outline-width: 30px;
	border-color: transparent;
}

.front-bg {
	min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
	height: 57vh;
}

.title { color: white;
	font-family: "Zilla Slab";
	text-align: right;
	font-size: 2.6rem !important;
	margin: 5%;
	margin-bottom: 1.5%;
	margin-top: 0.02%;
	padding-left: 50%;
}


.subtitle {
	text-align: right;
	padding-right: 8%;
	color: white;
	font-size: 20px;
	font-weight: normal;
	opacity: 80%;
	margin-top: 20px;
}

.title{
	color: white;
	text-align: center;
	font-size: 30px;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	height: 57vh;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-size: 1.2rem;
	padding: 1rem;
	border-radius: 25px;
	outline-width: 30px;
	border-color: transparent;
	position: relative;
	left: 80%;
	top: 7%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-top: 8px;
	padding-bottom: 8px;
}

.title-2 {
	font-family: 'Zilla Slab',
		serif;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 30px;
}

.intro-description {
	text-align: left;
	margin-left: 15%;
}

.prefooter-description {
	text-align: center;
	margin-bottom: 30px;
}

.book-button {
	background-color:#002540;
	color: white;
	font-size: 1.2rem;
	padding: 1rem;
	border-radius: 25px;
	outline-width: 30px;
	border-color: transparent;
	position: relative;
	left: 44%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-top: 8px;
	padding-bottom: 8px;
}

footer {
	position: relative;
	left: 28%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 30px;
}